# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/mbg_db?schema=public"

# JWT
JWT_SECRET="ganti-dengan-secret-yang-kuat-minimal-32-karakter"
JWT_EXPIRES_IN="7d"

# App
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
